XML / DTD/PR122.dtd

<!ELEMENT programacio (canal+)>
<!ELEMENT canal (publicitat, dia+)>
<!ATTLIST canal nom CDATA #REQUIRED>
<!ELEMENT publicitat (#PCDATA)>
<!ELEMENT dia (programes+)>
<!ATTLIST dia data CDATA #REQUIRED>
<!ELEMENT programes (programa*)>
<!ELEMENT programa (duracio, titol, resum*)>
<!ATTLIST programa edat CDATA #REQUIRED>
<!ATTLIST programa idioma CDATA #REQUIRED>
<!ELEMENT duracio (#PCDATA)>
<!ELEMENT titol (#PCDATA)>
<!ELEMENT resum (#PCDATA)>